Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [1]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [3]:
# Write your code here
pop=pd.read_csv('./population_by_county.csv')
pop

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [5]:
# Write your code here
pop.head(9)

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909
8      Adams County        Colorado      441603           503167

#### 3. What are the column names?

In [8]:
# Write your code here
pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [12]:
# Write your code here
number_of_states_excluding_DOC=pop[pop['State']!='District of Columbia']['State'].nunique()
number_of_states_excluding_DOC

50

#### 5. Get a list or array of all the states in the data set.

In [18]:
# Write your code here
state_list=pop['State'].unique()
state_list

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [72]:
# Write your code here

most_common_county=pop['County'].value_counts()
most_common_county.head()

County
Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [31]:
# Write your code here
top5_countries=pop[['County','2010Census']]
top5_countries.groupby(['County']).sum().sort_values(by='2010Census',ascending=False).head()

                    2010Census
County
Los Angeles County     9818605
Cook County            5217063
Orange County          4826896
Harris County          4124483
Maricopa County        3817117

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [32]:
# Write your code here
top5_states=pop[['State','2010Census']]
top5_states.groupby(['State']).sum().sort_values(by='2010Census',ascending=False).head()

            2010Census
State
California    37253956
Texas         25145561
New York      19378102
Florida       18801310
Illinois      12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [35]:
# Write your code here
def population_bracket(x):
    if x > 1000000:
        return "More than 1 Million"
    else:
        return "Less than 1 Million"

In [45]:
total_countries=top5_countries.groupby(['County']).sum()
total_countries['population_bracket']=total_countries['2010Census'].apply(population_bracket)
total_countries_1M=total_countries[total_countries['population_bracket']!='Less than 1 Million']
total_countries_1M['2010Census'].nunique()

60

#### 10. How many Counties don't have the word "County" in their name?

In [58]:
# Write your code here
total_countries=~pop['County'].str.contains('County')
total_countries_word=pop[total_countries]
total_countries_word['County'].nunique()

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [59]:
# Write your code here

toal_population_percentage_change=(pop['2017PopEstimate']/pop['2010Census'])*100
pop['Total Percentage Change']=toal_population_percentage_change
pop

,County,State,2010Census,2017PopEstimate,Total Percentage Change
0,Abbeville County,South Carolina,25417,24722,97.265610
1,Acadia Parish,Louisiana,61773,62590,101.322584
2,Accomack County,Virginia,33164,32545,98.133518
3,Ada County,Idaho,392365,456849,116.434697
4,Adair County,Iowa,7682,7054,91.825046
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,106.019382
3138,Yuma County,Colorado,10043,10075,100.318630
3139,Zapata County,Texas,14018,14322,102.168640
3140,Zavala County,Texas,11677,11948,102.320802
3141,Ziebach County,South Dakota,2801,2756,98.393431

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [70]:
# Write your code here
toal_population_percentage_change=(pop['2017PopEstimate']/pop['2010Census'])*100
pop['Total Percentage Change']=toal_population_percentage_change
highest_est=pop[['State','Total Percentage Change']]
highest_est_change_pr_states=highest_est.groupby(['State']).sum().sort_values(by='Total Percentage Change',ascending=False)
total_percentage=sum(highest_est_change_pr_states['Total Percentage Change'])
total_percentage
estimate_PR=(100*highest_est_change_pr_states['Total Percentage Change']/total_percentage)
estimate_PR
highest_est_change_pr_states['Estimated Percetage Change']=estimate_PR
highest_est_change_pr_states

                      Total Percentage Change  Estimated Percetage Change
State
Texas                            26355.535377                    8.319502
Georgia                          16153.477434                    5.099076
Virginia                         13516.452138                    4.266662
Kentucky                         11983.008138                    3.782608
Missouri                         11404.299493                    3.599930
North Carolina                   10221.903768                    3.226690
Kansas                           10185.754123                    3.215279
Illinois                          9857.450706                    3.111645
Iowa                              9776.083157                    3.085961
Tennessee                         9746.721205                    3.076692
Indiana                           9209.627461                    2.907151
Nebraska                          9161.340432                    2.891908
Ohio                              8745.132902                    2.760526
Minnesota                         8723.984215                    2.753851
Michigan                          8211.681418                    2.592135
Mississippi                       7997.551759                    2.524542
Oklahoma                          7703.860638                    2.431834
Arkansas                          7342.879345                    2.317885
Florida                           7211.173992                    2.276310
Wisconsin                         7208.253743                    2.275388
South Dakota                      6707.905241                    2.117446
Colorado                          6676.003951                    2.107376
Alabama                           6609.895335                    2.086508
Pennsylvania                      6604.241337                    2.084723
Louisiana                         6405.617474                    2.022025
New York                          6121.221639                    1.932251
California                        5971.318587                    1.884932
Montana                           5721.568195                    1.806095
North Dakota                      5608.640607                    1.770448
West Virginia                     5323.250741                    1.680360
South Carolina                    4705.281744                    1.485290
Idaho                             4531.246387                    1.430353
Washington                        4143.405927                    1.307925
Oregon                            3751.366592                    1.184173
New Mexico                        3221.566653                    1.016934
Utah                              3116.823276                    0.983870
Alaska                            2979.918865                    0.940654
Maryland                          2461.820362                    0.777109
Wyoming                           2320.144261                    0.732387
New Jersey                        2117.006799                    0.668264
Nevada                            1724.691529                    0.544424
Maine                             1588.013359                    0.501279
Arizona                           1561.091253                    0.492781
Massachusetts                     1450.253589                    0.457793
Vermont                           1387.470209                    0.437975
New Hampshire                     1007.003199                    0.317875
Connecticut                        793.693001                    0.250541
Hawaii                             524.697324                    0.165628
Rhode Island                       498.369042                    0.157317
Delaware                           327.192859                    0.103283
District of Columbia               115.330808                    0.036406